<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

</head>
  <style>
    a {
      color: rgb(0, 0, 0);
      text-decoration: none;
    }

    a:hover {
      color: rgb(0, 0, 0);
    }
    .red-border {
  border: 8px solid red;
}
 .green-border {
  border: 8px solid green;
}
  </style>
<body>
<h3 class="text-center py-3">Take Attendance</h3>
<div id="myCarousel" class="carousel slide" >
  <div class="carousel-inner">
    <% enrolledStudents.forEach((student, index) => { %>

    <% if (index == 0) { %>
      <div class="carousel-item active">
        <img style="height: 300px;width: 250px; margin: auto;" onClick="myfunc('<%= student.student_id._id %>', '<%= course_id %>','<%= date %>')" id="<%= student.student_id._id %>" src="../../img1.png" alt="Los Angeles" class="d-block" data-student-email="<%= student.student_id.email %>">
        <h4 class="text-center"><%= student.student_id.name %></h4>
        <h4 class="text-center"><%= student.student_id.email %></h4>
      </div>

    <% } else { %>
      <div class="carousel-item">
        <img style="height: 300px;width: 250px; margin: auto;" onClick="myfunc('<%= student.student_id._id %>', '<%= course_id %>','<%= date %>')" id="<%= student.student_id._id %>" src="../../img1.png" alt="Los Angeles" class="d-block" >
        <h4 class="text-center"><%= student.student_id.name %></h4>
        <h4 class="text-center"><%= student.student_id.email %></h4>
      </div>
    <% } %>

    <% }) %>


  <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>

  <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>


<script>
function myfunc(student_id, course_id,date) {
  const attendance_data = {
    student_id,
    course_id,
    date
  }
  $.ajax({
    url: '/attendance/insert',
    method: 'POST',
    data: { attendance_data:attendance_data},
    success: function(data) {
      //console.log(data.msg);
      //console.log(student_id);
      if(data.msg=="New Attendance Recorded"){
          $('#' + student_id).removeClass('red-border');
          $('#' + student_id).addClass('green-border');
      }
      else
          {
             $('#' + student_id).removeClass('green-border')
            $('#' + student_id).addClass('red-border');
          }
         //$('#' + student_id).toggleClass('green-border red-border');
    },
    error: function(xhr, status, error) {
      console.error(error);
    }
  });
}

  var carousel = document.querySelector('#myCarousel');
  document.addEventListener('keydown', function(event) {
    if (event.code == 'ArrowLeft') {
      event.preventDefault(); 
      carousel.querySelector('.carousel-control-prev').click(); 
    }
  });
  document.addEventListener('keydown', function(event) {
    if (event.code == 'ArrowRight') {
      event.preventDefault(); 
      carousel.querySelector('.carousel-control-next').click(); 
    }
  });

</script>


</body>
</html>

